h3 {
  background-color : blue
    ;
  color: white;
  font-family: cursive;
}
h1 {font-family : cursive;}

h3 {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.text { background-color: green;
}
.topic {
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
.text { font-family: Helvetica;}

